*{
    margin : 0;
    padding : 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins';
    box-sizing: border-box;
    font-weight:400;
}
h1{
    font-size: 3.5em;
}
body{
    background-color : #fbfbfe;
}
section{
    padding-left : 8vw;
    padding-right : 8vw;
}
#scrollToTop{
    display : none;
    flex-direction: column;
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    cursor: pointer; /* Add a mouse pointer on hover */
    opacity: 0.5;
}
#scrollToTop:hover{
    opacity : 1;
}
.full-bleed{
    background-color: #ebedf0;
    box-shadow: 0 0 0 100vmax #ebedf0;
    clip-path: inset(0 -100vmax);
}
/*Navigation Bar CSS*/
section.nav{
    position :sticky;
    z-index: 1000;
    padding-top: 2vw;
}
header{
    width : 100%;
    height : 80px;
    background : #fbfbfe;
    display : flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    cursor: pointer;
    font-size : 28px;
    font-weight :600;
    color : #050315;
}
.logo span{
    font-size : 28px;
    font-weight : 600;
    cursor : pointer;
    color : #2f27ce;
}
.hamburger{
    display : none;
}
.nav-bar ul{
    display : flex;
}
.nav-bar ul li > *{
    cursor : pointer;
    display : block;
    color : #050315;
    font-size : 20px;
    padding : 10px 25px;
    border-radius: 50px;
    transition : 0.2s;
    margin : 0 5px;
}
.nav-bar ul li >*:hover{
    color : #fbfbfe;
    background : #050315;
}
@media only screen and (max-width : 900px){
    .hamburger{
        display : block;
        cursor : pointer;
    }
    .nav-bar{
        height : 0px;
        position : absolute;
        top : 80px;
        left : 0;
        right : 0;
        width : 100vw;
        background : #fbfbfe;
        transition : 0.2s;
        overflow : hidden;
    }
    .nav-bar.active{
        height : 450px;
    }
    .nav-bar ul{
        display : block;
        width : fit-content;
        margin : 80px auto 0 auto;
        text-align : center;
        transition : 0.5s;
    }
    .nav-bar.active ul{
        opacity : 1;
    }
    .nav-bar ul li div{
        margin-bottom : 12px;
    }
}
/*--------------------------------------------------------*/
/*About Me CSS*/
.about-me{
    margin-top: 15vh;
}
.about-desc > p{
    margin-top: 2vh;
    font-size : 1.2em;
    margin-bottom : 5vh;
}
.about-me-icons i{
    margin-right: 4vw;
    cursor : pointer;
}
.about-desc p{
    margin-right : 3vw;
    align-self: center;
}
.about-desc{
    display : flex;
}
.about-me img{
    border-radius: 50%;
    width : 25%;
    align-self: flex-start;
}
.about-me >img{
    display : none;
}
.about-me-icons{
    display : flex;
    align-items: center;
}
.resume-info{
    cursor : pointer;
    display : flex;
    align-items: center;
}
.resume-info i{
    margin-right: 1vw;
    font-size: 1.65em;
}
.resume-info p{
    margin : 0;
    padding : 0;
    font-weight:600;
    font-size : 1.4em;
}
@media screen and (max-width : 800px) {
    .divider i{
        display : none;
    }
    .about-me > img{
        display :block;
        width : 35%;
    }
    .about-desc > img{
        display : none;
    }
    .about-me-section .about-desc{
        flex-direction: column;
    }
}
.divider{
    display : flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vw;
    margin-bottom: 4vw;
}
.divider div{
    cursor : pointer;
}
/*--------------------------------------------------------*/
/*News CSS*/
#news-section h1{
    padding-top: 15vh;
}
.news{
    margin-top : 10vh;
    display : flex;
    margin-bottom: 30vh;
}
#news-section{
    padding-bottom : 5vh
}
#news-section .news ul li{
    list-style-type: disc;
}
.news ul li{
    font-size: 1.2em;
    margin-top: 4vh;
    margin-bottom: 4vh;
}
/*--------------------------------------------------------*/
/*Contact CSS*/
section.contact-section{
    padding-top: 5vh;
    margin-bottom: 0;
}
section.contact-section div{
    margin-top: 5vh;
    margin-bottom : 4vh;
}
.contact-section .contact-logos{
    display : flex;
    align-items: center;
    justify-content: center;
}
.contact-section .contact-logos img{
    width : 20%;
    height : auto;
    margin-inline: 2vw;
}
section.contact-section :last-child{
    padding-bottom : 3vh;
}
section.contact-section div h2{
    font-weight: 500;
}
/*--------------------------------------------------------*/
/*Portfolio CSS*/
.project-thumbnails{
    display : flex;
    flex-wrap: wrap;
    row-gap: 5vh;
    justify-content: space-between;
}
.project-thumbnails div {
    width : 24%;
    overflow: hidden;
}
.project-thumbnails div h2{
    margin-top : 2vh;
    font-weight: 500;
    font-size: 1.8em;
    cursor : pointer;
    margin-bottom: 1vh;
}
.project-thumbnails .img-wrapper{
    width : 100%;
    height : 15vw;
    border-radius: 25px;
    position : relative;
    z-index: 1;
}
.project-thumbnails div img{
    transition : transform 0.3s ease-in-out;
    width : 100%;
    cursor : pointer;
    height : 25vw;
    border-color: grey;
    border-width: 2px;
}
.project-thumbnails div img:hover{
    transform : scale(1.1);
}
.portfolio-section{
    margin-top : 5vh;
}
.project-listing{
    margin-top : 10vh;
}
.project-listing .project{
    min-height : 100vh;
}
.project-listing .project h1{
    font-size: 2.3em;
}
.project-listing .project h2{
    font-weight : 500;
    font-size : 1.8em;
}
.project .project-desc{
    display : flex;
}
.project .project-desc video{
    margin-top: 0.5vh;
    margin-inline: 2vw;
}
.project .project-outcomes{
    margin-top: 2vh;
}
.project .collaborators ul{
    text-decoration: solid;
}
.project{
    display : flex;
    flex-direction : column;
    margin-bottom: 10vh;
    padding-bottom: 5vh;
}
.project:nth-child(odd){
    background-color: #ebedf0;
    padding-top: 5vh;
}
.project > *{
    margin-bottom: 3vh;
}
@media screen and (max-width : 900px) {
    .project .project-desc{
        flex-direction: column;
    }
    .project-desc video{
        padding-top: 2.5vh;
        padding-bottom: 2.5vh;
        align-self: center;
    }
}
/*Teaching CSS*/
.teaching-section{
    margin-top: 8vh;
}
.teaching-section > h1{
    text-align: center;
    margin-bottom : 5vh;
}
.teaching-listing{
    display : flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 4vh;
    margin-top: 5vh;
    margin-bottom : 10vh;
}
.teaching-subject{
    background : white;
    width : 45%;
    border-radius: 20px;
    transition : 0.3s;
    box-shadow : 2px 4px 2px rgba(34, 68, 123, 0.2);
    cursor: pointer;
}
.subject-image{
    overflow : hidden;
}
.subject-image img{
    max-width: 100%;
    height : auto;
    border-radius: 20px 20px 0 0;
}
.teaching-subject:hover{
    box-shadow : 0 4px 0 rgba(34, 68, 123, 0.2);
    cursor: pointer;
}
.subject-content{
    padding : 2rem;
}
.subject-content .subject-level{
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    color : #6b82a7;
    display : block;
    text-decoration: none;
    margin-bottom: 3vh;
}
.subject-content h2{
    margin : 1rem 0;
    color : #22447b;
}
@media screen and (max-width : 900px){
    .teaching-listing{
        flex-direction: column;
        align-items: center;
    }
    .teaching-subject{
        width : 85%;
    }

}


/* Resume CSS */
.resume-section div{
    display : flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-inline: 2vh;
}
.resume-section h1{
    margin-top: 5vh;
    text-align: left;
    font-size : 2em;
}
.resume-section iframe{
    border : none;
    padding-bottom : 3vh;
    width : 70%;
    height : 100vh;
    margin-top: 5vh;
    margin-bottom: 20vh;
}
@media screen and (max-width : 900px){
    .resume-section iframe{
        border : none;
        padding-bottom : 3vh;
        width : 95%;
        height : 100vh;
        margin-top: 5vh;
        margin-bottom: 20vh;
    }

}
/* Engagement CSS */
.engagement-section .engagement{
    margin-top: 10vh;
    margin-bottom : 10vh;
}
.engagement .description{
    display : flex;
}
.engagement .description video{
    margin-inline: 5vh;
}
.engagement > *{
    margin-top: 3vh;
    margin-bottom : 2vh;
}
.engagement div > *{
    margin-bottom : 4vh;
}
.engagement:nth-child(even){
    background-color: #ebedf0;
    padding-bottom : 3vh;
    padding-top: 5vh;
}
@media screen and (max-width : 900px){
    .engagement .description{
        flex-direction: column;
        align-items: center;
    }
}
