.about-me{
    margin-top: 20vh;
}
.about-me > p{
    margin-top: 2vh;
    font-size : 1.3em;
    margin-bottom : 5vh;
}
.about-me-icons i{
    margin-right: 4vw;
    cursor : pointer;
}
.about-me-icons{
    display : flex;
    align-items: center;
}
.resume-info{
    cursor : pointer;
    display : flex;
    align-items: center;
}
.resume-info i{
    margin-right: 1vw;
    font-size: 1.65em;
}
.resume-info p{
    margin : 0;
    padding : 0;
    font-weight:600;
    font-size : 1.4em;
}
