*{
    margin : 0;
    padding : 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins';
    box-sizing: border-box;
    font-weight:400;
}
body{
    background-color : #fbfbfe;
    padding : 3vw 8vw
}


